<a href="https://colab.research.google.com/github/DevanshPandya19/SAM_PROJECT/blob/main/Devansh_pandya_200050131038.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##pratical-1 
##Aim:-write a program to find sum of two integers

In [ ]:
a=2
b=4
c=a+b
print("The sum of a and b is",a+b)

The sum of a and b is 6

#pratical-2
#Aim:-Write a python program to find area of circle.

In [ ]:
radius=float(input("Enter a radius\n")) 
area=3.14*radius*radius
print("Area of circle is: ",area)

Enter a radius
2
Area of circle is:  12.56

#pratical-3
#Aim:-Write a python program which input string and perform operations like finding length of string,  convert string into upper case, lower case, finding no of occurrences of character.

In [ ]:
a=input("Enter a name\n")
print(len(a))
print(a.upper())
print(a.lower())
print(a.count('e'))

Enter a name
Deep
4
DEEP
deep
2

#pratical-4
#Aim:-Write a python program which input an array/s and perform various operations on it like,  finding length, insert element, delete element, search, update element, concatenation.

##finding length

In [ ]:

import numpy as np
#import array as ar
arr=[2,4,8,9]
a=np.array(arr)
size=len(arr)
print(size)
print(type(a))
print(arr)
print(a)

4
<class 'numpy.ndarray'>
[2, 4, 8, 9]
[2 4 8 9]

##for searching an element in array

In [ ]:
import numpy as np 
arr=[2,4,5,44,55]
print(arr)
print(arr.index(4))

[2, 4, 5, 44, 55]
1

##deleting an element in array
##1.using remove()

In [ ]:
import numpy as np

arr=[3,5,6,1,3]
print(arr)
arr.remove(6)
print("After removing an element: ")
print(arr)

[3, 5, 6, 1, 3]
After removing an element:
[3, 5, 1, 3]

##using pop()

In [ ]:
import numpy as np

arr=[3,2,55,22]
print(arr)
arr.pop(2)
print("After removing an element :")
print(arr)

[3, 2, 55, 22]
After removing an element :
[3, 2, 22]

#pratical-5
#Aim:-Write a python program which input list and perform operations like find length of list, insert  element into list, remove element from list, clear whole list, copy list, slicing of list, search  element, join two lists, extend list.

#insert(),Length(),Remove() in List:

In [ ]:
l1=[2,4,5,7,3,9]
l1.insert(22,55)
print(l1)
print("Total elements in list are : ", len(l1))
l1.remove(9)
print("List after removing elelmemnts :",l1)

[2, 4, 5, 7, 3, 9, 55]
Total elements in list are :  7
List after removing elelmemnts : [2, 4, 5, 7, 3, 55]

##clear() in list:

In [ ]:
l2=[2,3,1]
print("List2 before clearing : ",l2)
l2.clear()
print("List2 after  clearing : ",l2)

List2 before clearing :  [2, 3, 1]
List2 after  clearing :  []

##copy() in list

In [ ]:
l3=[4,5,6]
l4=l3.copy()
print("The new list created is : "+str(l4))
l4.append(8)
print("The new list after adding new element  : "+str(l4))
print("The old list after adding new element to new list  : "+str(l3))

The new list created is : [4, 5, 6]
The new list after adding new element  : [4, 5, 6, 8]
The old list after adding new element to new list  : [4, 5, 6]

##slicing of list

In [ ]:
friends=["tom","sam","karan","raju"]
print(friends[0:2])

['tom', 'sam']

##searching element in list

In [ ]:
a=[2,44,45,66,11]
print(a[2])

45

##joining two list

In [ ]:
a=["kapil","sharma"]
b=[3,5]
c=a+b
print(c)

['kapil', 'sharma', 3, 5]

##using extend():

In [ ]:
a=[2,3]
b=[90,98]
a.extend(b)
print(a)

[2, 3, 90, 98]

##pratical:-6
##aim:-Write a python program which find length of tuple, create tuple with repetition, performs slicing  of tuple, delete tuple, concatenation tuples, and convert list into tuple

In [ ]:
t1=(22,3,1,2)
print(len(t1))

4

##create tuple with repeation

In [ ]:
t2=("java",)*3
print(t2)

('java', 'java', 'java')

##slicing of tuple

In [ ]:
t3=("tom","ram","suresh",99,98)
print("sliced tuples are : ")
print(t3[0:3])

sliced tuples are :
('tom', 'ram', 'suresh')

##delete tuple

In [ ]:
t4=(22,33,1,33)
del t4

##converting a list into tuple

In [ ]:
l1=[8,9,3]
print(tuple(l1))
print(tuple("python"))

(8, 9, 3)
('p', 'y', 't', 'h', 'o', 'n')

##concateing in tuple

In [ ]:
t5=(77,99)
t6=(88,76)
c=t5+t6
print(c)

(77, 99, 88, 76)

##pratical:-7
##Aim:-Write a python program which print set, search items in set, add item, add multiple items, find  the length of set, delete the element from set using various methods, empty the set using  various methods, and join two sets.

In [ ]:

a={9,88}
print(a)
print(type(a))

{88, 9}
<class 'set'>

##search items in set

In [ ]:
a={9,88,77}
print(88 in a)

True

##add items in set

In [ ]:
a={33,44,34,87}
a.add(77)
print("The new a is : ")
print(a)

The new a is :
{33, 34, 44, 77, 87}

#add multiple items

In [ ]:
a={99,88,78,90}
a.add(80)
a.add("TOM")
print(a)

{99, 78, 80, 88, 90, 'TOM'}

##finding length of the set

In [ ]:
a={99,34,22}
print(len(a))

3

##deleting elements from set
##1 by remove()

In [ ]:
fruits={"apple","mango"}
fruits.remove("apple")
print(fruits)

{'mango'}

##empty the set

In [ ]:
a={}
print(a)

{}

##joining two sets

In [ ]:
s1={"Apple","Banana"}
s2={"bhindi","sev"}
s3=s1.union(s2)

##pratical:-8
##Aim:-Write a python program which print dictionary, accessing items of dictionary using various  methods, change value of specific item, display dictionary using loop, display dictionary using  loop and items() method, check key is exist or not in dictionary, find length of dictionary, add  items in dictionary, remove items from dictionary using various methods, empty dictionary  using various methods, copy dictionary using various methods.

##prints dictionary

In [ ]:
myDict={
    "Fast":"In a quick manner"
    
    
}
print(myDict['Fast'])

In a quick manner

##accessing items of dictionary using various methods

In [ ]:
myDict={
    "Fast":"In a quick manner",
    "Marks": [22,44,12]
    
    
}
print(myDict.keys())
print(myDict.values())
print(myDict.items())

dict_keys(['Fast', 'Marks'])
dict_values(['In a quick manner', [22, 44, 12]])
dict_items([('Fast', 'In a quick manner'), ('Marks', [22, 44, 12])])

##change value of specific item

In [ ]:
updateDict={
    "Lovish":"Friend",
    "devansh":"good friend"
}
myDict.update(updateDict)
print(myDict)

{'Fast': 'In a quick manner', 'Marks': [22, 44, 12], 'Lovish': 'Friend', 'devansh': 'good friend'}

##display dictionary using loop

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
for state in statesAndcapitals:
  print(state)

Gujarat
Bihar

##Display dictionary using  loop and items() method

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
for state,capital in statesAndcapitals.items():
  print(state,":", capital)

Gujarat : Gandhinagar
Bihar : Patna

## check key is exist or not in dictionary

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
print(statesAndcapitals.get("Assam"))
print("Not present in the dictionary : ")

None
Not present in the dictionary :

##find length of dictionary

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
print(len(statesAndcapitals))

2

## adding  items in dictionary,

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
statesAndcapitals["Goa"]="panji"
print(statesAndcapitals)

{'Gujarat': 'Gandhinagar', 'Bihar': 'Patna', 'Goa': 'panji'}

##remove items from dictionary using various methods
##1.By pop()

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
statesAndcapitals.pop("Bihar")
print(statesAndcapitals)

{'Gujarat': 'Gandhinagar'}

##2.By del()

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
del statesAndcapitals['Gujarat']
print(statesAndcapitals)

{'Bihar': 'Patna'}

##3.By clear()

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
statesAndcapitals.clear()
print(statesAndcapitals)

{}

##empty dictionary  using various methods

In [ ]:
statesAndcapitals={
    "Gujarat":"Gandhinagar",
    "Bihar":"Patna"
}
statesAndcapitals.clear()
print(statesAndcapitals)

{}

##copy dictionary using various methods

In [ ]:
originalMarks={
    "maths" : 55,
    "English":90
}
copiedMarks=originalMarks.copy()
print('OriginalMarks:',originalMarks )
print('CopiedMarks:', copiedMarks)

OriginalMarks: {'maths': 55, 'English': 90}
CopiedMarks: {'maths': 55, 'English': 90}

##pratical:-9
##Aim:-Write a python program to find max value from two values using function.

In [ ]:
def maximum(num1,num2):
  if(num1>num2):
    return num1
  else:
    return num2
m=maximum(66,23)
print("The maximum number is :" +str(m))

The maximum number is :66

##pratical:-10
##Aim:-Write a python program to find factorial of number using function.

In [ ]:
def factorial(num):
  factorial=1
  if(num==0 ):
    print("Factorial is 1  ")
  else:
    for i in range(1,num+1):
      factorial=factorial*i
      print("Factorial is ",factorial)
a=int(input("Enter a number : "))
print(factorial(a))

Enter a number : 5
Factorial is  1
Factorial is  2
Factorial is  6
Factorial is  24
Factorial is  120
None

##pratical:-11
##Aim:-write a python program using function which display first name and last name in reverse as well  according to user choice.

In [ ]:
def reverse_fun(x,y):
  c=x
  d=y
  print("first name is ",c)
  print("last name is",d)
  a=input("Enter the first name : ")
  b=input("Enter the last name : ")
  reverse_fun(a,b)

##Pratical:-12
##Aim:-Write a python program which shows the use of argument/s default value in function.

In [ ]:
def greet(name="stranger"):
  print("Good day,"+name)
greet("devansh")  
greet()

Good day,devansh
Good day,stranger

##pratical:-13
##Aim:-Write a python program which finds factorial of number using recursion.

In [ ]:
def factorial(n):
  if n==1:
    return n
  else:
    return n* factorial(n-1)
  num=7
  if num<0 :
    print("factorial  does not exist for negative numbers ")
  elif num==0:
    print("The factorial of 0 is 1")  
  else:
    print("Factorial of" ,num,"is ",factorial(num))

##pratical:=14
##Aim:=Write a python program which print Fibonacci series using recursive function

In [ ]:

def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return (fibo(n-1)+(n-2) ) 

        n=int(input("Enter number of terms : ") )
        for i in range(1,n+1):
            print(fibo(i))

##pratical:-15
##Aim:-Write a python program to implement student class having rno, name as class variables. Also  use constructor and write input and display functions.

In [ ]:
class Student:
  def __init__(self,name,rno):
    self.name=name
    self.rno=rno

  def getStudentInfo(self):
    print(f"The name of the student is {self.name}") 
    print(f"The rno of the student is {self.rno}")

Devansh=Student("Devansh",38)
Devansh.getStudentInfo()

The name of the student is Devansh
The rno of the student is 38

##pratical:-16
##Aim:-Write a program using Numpy to capitalize the first letter, lower case, upper case, swap case  and title case of all the elements of a given array.

In [ ]:
import numpy as np
arr=np.array(['ram','suresh','bravo','java is pure object'])
print(f"The given array is {arr}")
#Capitilazie the first letter
print("The array in capitilaize is: " ,np.char.capitalize(arr))
#In lower case
print("The array in lower case is: " ,np.char.lower(arr))
#In upper case
print("The array in upper case is: " ,np.char.upper(arr))
#In swap case
print("The array in swap case is: " ,np.char.swapcase(arr))
#In Title case
print("The array Title case is: " ,np.char.title(arr))

The given array is ['ram' 'suresh' 'bravo' 'java is pure object']
The array in capitilaize is:  ['Ram' 'Suresh' 'Bravo' 'Java is pure object']
The array in lower case is:  ['ram' 'suresh' 'bravo' 'java is pure object']
The array in upper case is:  ['RAM' 'SURESH' 'BRAVO' 'JAVA IS PURE OBJECT']
The array in swap case is:  ['RAM' 'SURESH' 'BRAVO' 'JAVA IS PURE OBJECT']
The array Title case is:  ['Ram' 'Suresh' 'Bravo' 'Java Is Pure Object']

##Pratical:-17
##Aim:-Write a program using Numpy to encode all the elements of the given array in cp037 and  decode it again

In [ ]:
import numpy as np
arr=np.array(['five','six','seven'])
print(f"The given array is {arr}")
#Encoding the array
arr=np.char.encode(arr,encoding='cp037')
print(f"Array after encoding is : {arr}")
#Decoding the array
arr=np.char.decode(arr,encoding='cp037')
print(f"Array after decoding is : {arr}")

The given array is ['five' 'six' 'seven']
Array after encoding is : [b'\x86\x89\xa5\x85' b'\xa2\x89\xa7' b'\xa2\x85\xa5\x85\x95']
Array after decoding is : ['five' 'six' 'seven']

##Pratical:-18
#Aim:-Write a program using numpy that make all the elements of given string to numeric string of 4  digits with zeros on its left.

In [ ]:
import numpy as np
arr=np.array(['2','3','33','55'])
print(f"The given array is {arr}")
arr1=np.char.zfill(arr,4)
print(f"The numeric string of 4 digitswith zeros on its left is : {arr1}")

The given array is ['2' '3' '33' '55']
The numeric string of 4 digitswith zeros on its left is : ['0002' '0003' '0033' '0055']

##Pratical:-19
##Aim:-Write a program using Numpy to count number of “C” element wise in a given array.

In [ ]:
import numpy as np
arr=np.array(['Cool','CHOCOLATE','Cow'])
print(f"The given array is {arr}")
arr1=np.char.count(arr,'C')
print(f"The number of C in each element is : {arr1}")

The given array is ['Cool' 'CHOCOLATE' 'Cow']
The number of C in each element is : [1 2 1]

##Pratical:-20
##Aim:-Write a program using Numpy to test equal, not equal, greater equal, greater and less for all the  elements of two given arrays.

In [ ]:
import numpy as np
arr1=np.array(['77,22,11,34,10'])
print(f"The given array is {arr1}")
arr2=np.array(['70,22,19,27,111'])
print(f"The given array is {arr2}")
#For equal test
et=np.char.equal(arr1,arr2)
print(f"The equal test is {et}")
#for not equal test
net=np.char.not_equal(arr1,arr2)
print(f"The not equal test is {net}")
#Greater equal test
get=np.char.greater_equal(arr1,arr2)
print(f"The greater equal test is {get}")
#Greater test
gt=np.char.greater(arr1,arr2)
print(f"The greater test is {gt}")
#Lesser test
lt=np.char.less(arr1,arr2)
print(f"The lesser test is {lt}")

The given array is ['77,22,11,34,10']
The given array is ['70,22,19,27,111']
The equal test is [False]
The not equal test is [ True]
The greater equal test is [ True]
The greater test is [ True]
The lesser test is [False]

##Pratical:-21
##Aim:-Write a program using Numpy to store a given array into a text file and load it

In [ ]:
import numpy as np
arr=np.array(['cow is domestic animal'])
print(f"The given array is {arr}")
#for storing
f=open('array.txt','w')
f.write(f'{arr}')
#For loading
f=open('array.txt')
print(f.read())
f.close()

The given array is ['cow is domestic animal']
['cow is domestic animal']

##Pratical-22
##Aim:-Write a program using numpy to get dates of yesterday, today and tomorrow.

In [ ]:
import numpy as np
#yesterday
yesterday=np.datetime64('today','D') - np.timedelta64(1,'D')
print(f"The yesterday is {yesterday}")
#today
today=np.datetime64('today','D')
print(f"The today is {today}")
#tomorrow
tomorrow=np.datetime64('today','D') + np.timedelta64(1,'D')
print(f"The tomorrow is {tomorrow}")

The yesterday is 2022-09-04
The today is 2022-09-05
The tomorrow is 2022-09-06

##Pratical:-23
##Aim:-Write a program using NumPy to compute the mean, standard deviation, and variance of a  given array along the second axis.

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[14,25,36],[27,8,49]])
#mean
m=np.mean(arr,axis=1)
print(f"The mean is {m}")
#Standard deviation
sd=np.round(np.std(arr,axis=1),decimals=4)
print(f"The standard deviation is {sd}")

The mean is [ 2. 25. 28.]
The standard deviation is [ 0.8165  8.9815 16.7531]

##Pratical:-24
##Aim:-Write a program using Numpy array use to identify negative elements, positive elements and  zero elements and store them in respective list and display those lists.

In [ ]:
import numpy as np
arr=np.array([33,44,-23,11,-99,15,0])
pos=[]
neg=[]
zero=[]
for i in arr:
  if i==0:
    zero.append(i)
  elif i>0:
    pos.append(i)
  else:
    neg.append(i)
print(f"The positive element is {pos}")  
print(f"The negative element is {neg}")
print(f"The zero element is {zero}")

The positive element is [33, 44, 11, 15]
The negative element is [-23, -99]
The zero element is [0]